table{
    border:3px dashed black;
}

th{border: 2px solid black;
    background-color: aquamarine;
    color: coral;
    font-size: 20px;
}

td{ border: 1px solid black;
    color: tomato;
    text-align: center;
    font-family: monospace;
    
}