body{
background-color:rgb(201, 198, 198);
}

.titulo{
    /* borda: */
    border: 2px solid black;
    /* preenchimento de dentro da borda: */
    background-color: aqua;
    /* espaçamento lateral entre as letras */
    letter-spacing: 4px;
    /* espaçamento na altura entre as frases */
    line-height: 20px;
    /* centralizar */
    text-align: center;
    /* sombreado */
    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.5);
    margin: auto;
    /* largura da borda (div) */
    width: 550px;
    /* arredondamento da borda */
    border-radius: 100px;

}
/* dentro duma mesma classe, selecionar algo diferente */
.titulo1{
    color: red;
}

.conteudo{
    width: 300px;
    text-align: justify;
}
